.size(@width, @height) {
  width: @width;
  height: @height;
}

.flex(@direction, @justify: center, @align: center) {
  display: flex;
  flex-direction: @direction;
  justify-content: @justify;
  align-items: @align;
}

.position(@position, @top, @left) {
  position: @position;
  top: @top;
  left: @left;
}

.border-margin-padding(@border-radius, @margin, @padding) {
  border: none;
  border-radius: @border-radius;
  margin: @margin 0;
  padding: @padding;
}

.scaling(@base, @amount) {
  transform: scale(@base);
  transition: transform .3s;

  &:hover {
    transform: scale(@amount);
    transition: transform .5s;
  }
}
