.size(@width, @height) {
  width: @width;
  height: @height;
}

.flex(@direction, @justify: center, @align: center) {
  display: flex;
  flex-direction: @direction;
  justify-content: @justify;
  align-items: @align;
}

.position(@position, @top, @left) {
  position: @position;
  top: @top;
  left: @left;
}

.margin-padding(@margin, @padding) {
  border: none;
  border-radius: 1px;
  margin: @margin 0;
  padding: @padding;
}
