// out: style.css, sourcemap: true, compress: true;
// main: style.less;

@import 'mixins.less';

// variables

@header-footer-color: #401d1d;
@thiner-column-color: #9f3030;

// reset

body {
	margin: 0;
}

// CSS

body {
  background-color: #ccbebe;
  font-size: 1em;
  color: #fff;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.header-container,
.columns-container,
.footer-container {
  .size(56.25%, 100%);
  margin: 0 auto;
  box-sizing: border-box;
}

.header-container {
  .flex(row, center, center);
  background-color: @header-footer-color;

  & .header-items {
    .size(100%, auto);
    .flex(row, space-around, center);
    padding: 0.5rem;

    & .nav-item {
      font-size: 1.875rem;
      color: #fff;
      margin: 0.5rem 0;

      & #logo {
        .size(3rem, auto);
      }
    }
  }
}

.columns-container {
  display: flex;
}

.left-column, .right-column, .services-column, .activities-column {
  box-sizing: border-box;
  padding: 1.875rem;
}

.left-column {
  .size(66.7%, auto);
  background-color: #5c2a2a;
}

.right-column {
  .size(33.3%, auto);
  background-color: @thiner-column-color;
}

.services-column {
  .flex(column, center, center);
  .size(33.3%, auto);
  background-color: @thiner-column-color;

  & .service-link {
    color: #fff;
  }
}

.activities-column {
	.size(66.7%, auto);
  background-color: #d8cccc;

  & .activities-title {
    color: #5a5757;
  }

  & .activities-message {
    color: #262424;
  }
}

.footer-container {
  padding: 0.625rem 1.875rem;
  background-color: @header-footer-color;
  text-align: center;

	& .footer-text {
		color: #fff;
	}
}

// media queries

@media (max-width: 1200px) {
  .header-container,
  .columns-container,
  .footer-container {
    width: 75%;
  }
}

@media (max-width: 992px) {
  .header-container,
  .columns-container,
  .footer-container {
    width: 85%;
  }
}

@media (max-width: 768px) {
  .header-container,
  .columns-container,
  .footer-container {
    width: 95%;
  }

  .left-column,
  .right-column,
	.services-column,
	.activities-column {
    width: 100%;
  }

  .columns-container {
    flex-direction: column;
  }

  .services-column {
    .flex(row, space-between, center);

    & #serviceIA {
      display: none;
    }
  }
}

@media (max-width: 576px) {
  .header-container,
  .columns-container,
  .footer-container {
    width: 100%;
  }
}
