body {
  margin: 0;
}
body {
  background-color: #ccbebe;
  font-size: 1em;
  color: #fff;
}
a,
#logoutButton {
  text-decoration: none;
  transform: scale(1);
  transition: transform .3s;
}
a:hover,
#logoutButton:hover {
  transform: scale(1.1);
  transition: transform .5s;
}
.hidden {
  display: none;
}
.header-container,
.columns-container,
.footer-container {
  width: 55%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #401d1d;
}
.header-container .header-logo {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.header-container .header-logo #logo {
  width: 4.5em;
  height: auto;
}
.header-container .header-items {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
}
.header-container .header-items .nav-item {
  font-size: 1.875rem;
  color: #fff;
  margin: 0.5rem 0;
}
.header-container .header-items #logoutButton {
  border: none;
  outline: none;
  background: transparent;
}
.columns-container {
  display: flex;
}
.left-column,
.right-column,
.services-column,
.activities-column {
  box-sizing: border-box;
  padding: 2rem;
}
.left-column {
  width: 66.7%;
  height: 640px;
  background-color: #5c2a2a;
}
.left-column .retorik-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.left-column .login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: inherit;
  width: 100%;
  height: auto;
  margin: 2rem 0;
}
.left-column .login-container .login-title,
.left-column .login-container .status-container {
  text-align: center;
}
.left-column .login-container .login-input,
.left-column .login-container .request-button {
  font-size: 1.188em;
  transform: scale(1);
  transition: transform .3s;
}
.left-column .login-container .login-input:hover,
.left-column .login-container .request-button:hover {
  transform: scale(1.05);
  transition: transform .5s;
}
.left-column .login-container .login-input {
  border: none;
  border-radius: 1px;
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: #d8cccc;
  color: #898383;
}
.left-column .login-container .request-button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 1px;
  margin: 1.188em 0;
  padding: 0.5rem;
  background-color: #4f3fb2;
  color: #fff;
  cursor: pointer;
}
.left-column .login-container .request-button:hover {
  background-color: #5b4bbf;
}
.left-column .login-container .status-container {
  color: #f4df23;
  font-size: 1.25em;
}
.right-column {
  width: 33.3%;
  height: 640px;
  background-color: #9f3030;
}
.right-column .about-container {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right-column .about-container .about-title,
.right-column .about-container .about-text {
  text-align: center;
}
.services-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  height: 640px;
  background-color: #9f3030;
}
.services-column .service-link {
  margin: 0.5rem 0;
  color: #fff;
}
.activities-column {
  width: 66.7%;
  height: 640px;
  background-color: #d8cccc;
}
.activities-column .activities-title {
  color: #5a5757;
}
.activities-column .activities-message {
  color: #262424;
}
.footer-container {
  padding: 0.625rem 1.875rem;
  background-color: #401d1d;
  text-align: center;
}
.footer-container .footer-text {
  color: #fff;
}
@media (max-width: 1200px) {
  .header-container,
  .columns-container,
  .footer-container {
    width: 75%;
  }
}
@media (max-width: 992px) {
  .header-container,
  .columns-container,
  .footer-container {
    width: 85%;
  }
}
@media (max-width: 768px) {
  .columns-container {
    flex-direction: column;
  }
  .header-container,
  .columns-container,
  .footer-container {
    width: 90%;
  }
  .header-items {
    display: none !important;
  }
  .left-column,
  .right-column,
  .services-column,
  .activities-column {
    width: 100%;
    height: auto;
  }
  .retorik-container {
    align-items: center !important;
  }
  .retorik-container .retorik-text {
    display: none;
  }
  .login-container {
    margin: 0.5rem 0 !important;
  }
  .services-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .services-column .service-link {
    margin: 0 !important;
  }
  .services-column #serviceIA {
    display: none;
  }
  .activities-column {
    height: 560px !important;
  }
}
@media (max-width: 576px) {
  .header-container,
  .columns-container,
  .footer-container {
    width: 100%;
  }
}
