// out: style.css, sourcemap: true, compress: true;
// main: style.less;

@import 'mixins.less';

@base-width: 600px;
@base-height: 250px;

@header-color: #363636;
@background-color: #e5e5e5;
@element-color: #242f40;
@button-color: #c04021;

html {
  .size(100%, 100%);
}

body {
	margin: 0;
  background-color: #ccbebe;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}
