body {
  margin: 0;
}
body {
  background-color: #ccbebe;
  font-size: 1em;
  color: #fff;
}
a {
  text-decoration: none;
}
.hidden {
  display: none;
}
.header-container,
.columns-container,
.footer-container {
  width: 56.25%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #401d1d;
}
.header-container .header-items {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
}
.header-container .header-items .nav-item {
  font-size: 1.875rem;
  color: #fff;
  margin: 0.5rem 0;
}
.header-container .header-items .nav-item #logo {
  width: 3rem;
  height: auto;
}
.columns-container {
  display: flex;
}
.left-column,
.right-column,
.services-column,
.activities-column {
  box-sizing: border-box;
  padding: 1.875rem;
}
.left-column {
  width: 66.7%;
  height: auto;
  background-color: #5c2a2a;
}
.right-column {
  width: 33.3%;
  height: auto;
  background-color: #9f3030;
}
.services-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  height: auto;
  background-color: #9f3030;
}
.services-column .service-link {
  color: #fff;
}
.activities-column {
  width: 66.7%;
  height: auto;
  background-color: #d8cccc;
}
.activities-column .activities-title {
  color: #5a5757;
}
.activities-column .activities-message {
  color: #262424;
}
.footer-container {
  padding: 0.625rem 1.875rem;
  background-color: #401d1d;
  text-align: center;
}
.footer-container .footer-text {
  color: #fff;
}
@media (max-width: 1200px) {
  .header-container,
  .columns-container,
  .footer-container {
    width: 75%;
  }
}
@media (max-width: 992px) {
  .header-container,
  .columns-container,
  .footer-container {
    width: 85%;
  }
}
@media (max-width: 768px) {
  .header-container,
  .columns-container,
  .footer-container {
    width: 95%;
  }
  .left-column,
  .right-column,
  .services-column,
  .activities-column {
    width: 100%;
  }
  .columns-container,
  .dashboard-container {
    flex-direction: column;
  }
  .services-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .services-column #serviceIA {
    display: none;
  }
}
@media (max-width: 576px) {
  .header-container,
  .columns-container,
  .footer-container {
    width: 100%;
  }
}
